#dialogoverlay{
	display: none;
	opacity: .8;
	top: 0px;
	position: absolute;
	left: 0px;
	background: #909090;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: absolute;
	background: #000;
	border-radius:7px; 
	width:400px;
	z-index: 10;
}
 
 .btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 0px 23px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}


#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:10px; padding:5px; color:#CCC; text-align: right; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }